**Export the country club data from PHPMyAdmin, and connect to a local SQLite instance 
for the following questions.**

In [1]:
import sqlite3 as sql
import pandas as pd
pd.set_option("max_rows", None) # Allow to display all rows in the cell

con = sql.connect('database/sqlite_db_pythonsqlite.db') # Connect to the db
curs = con.cursor() # Create cursor

sample_query = 'SELECT * FROM Facilities;'
curs.execute(sample_query) # Execute a sample query
rs = curs.fetchall() # Fetch all rows

df = pd.DataFrame(rs) # Copy to a dataframe
df.columns = [tuple[0] for tuple in curs.description] # Asign columns to dataframe
df # Show dataframe

,facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,0,Tennis Court 1,5.0,25.0,10000,200
1,1,Tennis Court 2,5.0,25.0,8000,200
2,2,Badminton Court,0.0,15.5,4000,50
3,3,Table Tennis,0.0,5.0,320,10
4,4,Massage Room 1,9.9,80.0,4000,3000
5,5,Massage Room 2,9.9,80.0,4000,3000
6,6,Squash Court,3.5,17.5,5000,80
7,7,Snooker Table,0.0,5.0,450,15
8,8,Pool Table,0.0,5.0,400,15

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue.

In [2]:
query10 = ('SELECT subquery.name, subquery.total_revenue '
           'FROM (SELECT Facilities.name, memid, '
                        'SUM(CASE WHEN memid = 0 THEN (guestcost * slots) '
                             'WHEN  memid <> 0 THEN (membercost * slots) '
                             'END) AS total_revenue '
                  'FROM Bookings '
                  'LEFT JOIN Facilities '
                    'USING(facid) '
                  'GROUP BY Facilities.name '
                  ') AS subquery '
            
            'WHERE total_revenue < 1000 ' 
            'ORDER BY total_revenue;'
          )

curs.execute(query10) # Execute a sample query
rs10 = curs.fetchall() # Fetch all rows

df10 = pd.DataFrame(rs10) # Copy to a dataframe
df10.columns = [tuple[0] for tuple in curs.description] # Asign columns to dataframe
df10 # Show dataframe

            name  total_revenue
0   Table Tennis            180
1  Snooker Table            240
2     Pool Table            270

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [3]:
query11 = ('SELECT m.surname, m.firstname, r.firstname || " " || r.surname AS recommended_by '
           'FROM Members AS m '
           'LEFT JOIN Members AS r '
                 'ON m.recommendedby = r.memid '
           'WHERE m.memid <> 0 ' 
           'ORDER BY m.surname, m.firstname;'
          )

curs.execute(query11) # Execute a sample query
rs11 = curs.fetchall() # Fetch all rows

df11 = pd.DataFrame(rs11) # Copy to a dataframe
df11.columns = [tuple[0] for tuple in curs.description] # Asign columns to dataframe
df11 # Show dataframe

              surname  firstname     recommended_by
0               Bader   Florence    Ponder Stibbons
1               Baker       Anne    Ponder Stibbons
2               Baker    Timothy     Jemima Farrell
3              Boothe        Tim         Tim Rownam
4             Butters     Gerald       Darren Smith
5              Coplin       Joan      Timothy Baker
6             Crumpet      Erica        Tracy Smith
7                Dare      Nancy    Janice Joplette
8             Farrell      David               None
9             Farrell     Jemima               None
10            Genting    Matthew     Gerald Butters
11               Hunt       John  Millicent Purview
12              Jones      David    Janice Joplette
13              Jones    Douglas        David Jones
14           Joplette     Janice       Darren Smith
15          Mackenzie       Anna       Darren Smith
16               Owen    Charles       Darren Smith
17             Pinker      David     Jemima Farrell
18            Purview  Millicent        Tracy Smith
19             Rownam        Tim               None
20             Rumney  Henrietta    Matthew Genting
21             Sarwin  Ramnaresh     Florence Bader
22              Smith     Darren               None
23              Smith     Darren               None
24              Smith       Jack       Darren Smith
25              Smith      Tracy               None
26           Stibbons     Ponder       Burton Tracy
27              Tracy     Burton               None
28         Tupperware   Hyacinth               None
29  Worthington-Smyth      Henry        Tracy Smith

Q12: Find the facilities with their usage by member, but not guests

In [4]:
query12 = ('SELECT f.name, m.firstname || " " || m.surname AS member, SUM(b.slots)/2.0 AS usage_time_h '
           'FROM Bookings AS b '
           'LEFT JOIN Members AS m '
                 'USING (memid) '
           'LEFT JOIN Facilities AS f '
                 'USING (facid) '
           'WHERE b.memid <> 0 ' 
           'GROUP BY name, member;'
          )

curs.execute(query12) # Execute a sample query
rs12 = curs.fetchall() # Fetch all rows

df12 = pd.DataFrame(rs12) # Copy to a dataframe
df12.columns = [tuple[0] for tuple in curs.description] # Asign columns to dataframe
df12 # Show dataframe

                name                   member  usage_time_h
0    Badminton Court           Anna Mackenzie          48.0
1    Badminton Court               Anne Baker          15.0
2    Badminton Court             Burton Tracy           3.0
3    Badminton Court             Charles Owen           9.0
4    Badminton Court             Darren Smith         216.0
5    Badminton Court              David Jones          12.0
6    Badminton Court             David Pinker          10.5
7    Badminton Court            Douglas Jones           3.0
8    Badminton Court            Erica Crumpet           3.0
9    Badminton Court           Florence Bader          13.5
10   Badminton Court           Gerald Butters          31.5
11   Badminton Court  Henry Worthington-Smyth           7.5
12   Badminton Court      Hyacinth Tupperware           1.5
13   Badminton Court               Jack Smith          18.0
14   Badminton Court           Jemima Farrell          10.5
15   Badminton Court                John Hunt           3.0
16   Badminton Court        Millicent Purview           3.0
17   Badminton Court               Nancy Dare          15.0
18   Badminton Court          Ponder Stibbons          24.0
19   Badminton Court         Ramnaresh Sarwin          10.5
20   Badminton Court               Tim Boothe          18.0
21   Badminton Court               Tim Rownam           6.0
22   Badminton Court            Timothy Baker          10.5
23   Badminton Court              Tracy Smith          51.0
24    Massage Room 1           Anna Mackenzie           1.0
25    Massage Room 1               Anne Baker           3.0
26    Massage Room 1             Burton Tracy          31.0
27    Massage Room 1             Charles Owen          11.0
28    Massage Room 1             Darren Smith          29.0
29    Massage Room 1              David Jones          20.0
30    Massage Room 1             David Pinker           3.0
31    Massage Room 1            Erica Crumpet           2.0
32    Massage Room 1           Gerald Butters          33.0
33    Massage Room 1  Henry Worthington-Smyth           1.0
34    Massage Room 1      Hyacinth Tupperware           1.0
35    Massage Room 1               Jack Smith          27.0
36    Massage Room 1          Janice Joplette          12.0
37    Massage Room 1           Jemima Farrell          34.0
38    Massage Room 1              Joan Coplin           1.0
39    Massage Room 1                John Hunt           3.0
40    Massage Room 1          Matthew Genting          26.0
41    Massage Room 1               Nancy Dare          19.0
42    Massage Room 1          Ponder Stibbons          20.0
43    Massage Room 1         Ramnaresh Sarwin           8.0
44    Massage Room 1               Tim Boothe          38.0
45    Massage Room 1               Tim Rownam          88.0
46    Massage Room 1            Timothy Baker          25.0
47    Massage Room 1              Tracy Smith           6.0
48    Massage Room 2               Anne Baker           2.0
49    Massage Room 2             Charles Owen           2.0
50    Massage Room 2              David Jones           4.0
51    Massage Room 2           Florence Bader           2.0
52    Massage Room 2           Gerald Butters           1.0
53    Massage Room 2               Jack Smith           1.0
54    Massage Room 2          Janice Joplette           2.0
55    Massage Room 2              Joan Coplin           2.0
56    Massage Room 2          Matthew Genting           1.0
57    Massage Room 2               Nancy Dare           5.0
58    Massage Room 2         Ramnaresh Sarwin           3.0
59    Massage Room 2               Tim Rownam           2.0
60        Pool Table           Anna Mackenzie          41.5
61        Pool Table               Anne Baker           6.0
62        Pool Table             Burton Tracy          15.0
63        Pool Table             Charles Owen           0.5
64        Pool Table             Darren Smith          14.0
65        Pool Table            David Farrell          12.5
66        Pool Table              David Jones           4.0
67        Pool Table             David Pinker           4.5
68        Pool Table            Douglas Jones           1.0
69        Pool Table           Florence Bader          11.5
70        Pool Table           Gerald Butters           3.0
71        Pool Table         Henrietta Rumney           1.5
72        Pool Table  Henry Worthington-Smyth          18.5
73        Pool Table      Hyacinth Tupperware           4.5
74        Pool Table               Jack Smith           3.5
75        Pool Table          Janice Joplette          13.5
76        Pool Table           Jemima Farrell           0.5
77        Pool Table              Joan Coplin           5.5
78        Pool Table          Matthew Genting           9.0
79        Pool Table        Millicent Purview           2.5
80        Pool Table               Nancy Dare           9.5
81        Pool Table          Ponder Stibbons           6.0
82        Pool Table         Ramnaresh Sarwin           6.5
83        Pool Table               Tim Boothe          13.0
84        Pool Table               Tim Rownam         141.0
85        Pool Table            Timothy Baker          47.5
86        Pool Table              Tracy Smith          32.0
87     Snooker Table           Anna Mackenzie           7.0
88     Snooker Table             Burton Tracy          20.0
89     Snooker Table             Charles Owen          22.0
90     Snooker Table             Darren Smith          12.0
91     Snooker Table            David Farrell           1.0
92     Snooker Table              David Jones           2.0
93     Snooker Table             David Pinker          16.0
94     Snooker Table           Florence Bader          33.0
95     Snooker Table           Gerald Butters          36.0
96     Snooker Table         Henrietta Rumney          14.0
97     Snooker Table      Hyacinth Tupperware           6.0
98     Snooker Table               Jack Smith           5.0
99     Snooker Table          Janice Joplette          71.0
100    Snooker Table           Jemima Farrell          22.0
101    Snooker Table              Joan Coplin          10.0
102    Snooker Table          Matthew Genting           1.0
103    Snooker Table        Millicent Purview           1.0
104    Snooker Table               Nancy Dare          23.0
105    Snooker Table          Ponder Stibbons          20.0
106    Snooker Table         Ramnaresh Sarwin          18.0
107    Snooker Table               Tim Boothe          45.0
108    Snooker Table              Tracy Smith          45.0
109     Squash Court           Anna Mackenzie           2.0
110     Squash Court               Anne Baker          55.0
111     Squash Court             Burton Tracy          39.0
112     Squash Court             Charles Owen           7.0
113     Squash Court             Darren Smith          15.0
114     Squash Court            David Farrell           1.0
115     Squash Court              David Jones           8.0
116     Squash Court             David Pinker           3.0
117     Squash Court            Douglas Jones           1.0
118     Squash Court           Florence Bader           2.0
119     Squash Court           Gerald Butters           9.0
120     Squash Court         Henrietta Rumney           2.0
121     Squash Court      Hyacinth Tupperware           1.0
122     Squash Court               Jack Smith          11.0
123     Squash Court          Janice Joplette          15.0
124     Squash Court           Jemima Farrell           8.0
125     Squash Court              Joan Coplin           1.0
126     Squash Court                John Hunt           1.0
127     Squash Court        Millicent Purview           1.0
128     Squash Court          Ponder Stibbons           2.0
129     Squash Court         Ramnaresh Sarwin           2.0
130     Squash Court               Tim Boothe          12.0
131     Squash Court            Timothy Baker           5.0
132     Squash Court              Tracy Smith           6.0
133     Table Tennis           Anna Mackenzie          16.0
134     Table Tennis               Anne Baker           1.0
135     Table Tennis             Burton Tracy          24.0
136     Table Tennis             Charles Owen          25.0
137     Table Tennis             Darren Smith          28.0
138     Table Tennis              David Jones          11.0
139     Table Tennis             David Pinker          17.0
140     Table Tennis            Erica Crumpet           2.0
141     Table Tennis           Florence Bader          43.0
142     Table Tennis           Gerald Butters           1.0
143     Table Tennis  Henry Worthington-Smyth           3.0
144     Table Tennis               Jack Smith           5.0
145     Table Tennis          Janice Joplette           9.0
146     Table Tennis           Jemima Farrell          12.0
147     Table Tennis              Joan Coplin          23.0
148     Table Tennis                John Hunt           1.0
149     Table Tennis          Matthew Genting          27.0
150     Table Tennis        Millicent Purview           7.0
151     Table Tennis               Nancy Dare           5.0
152     Table Tennis          Ponder Stibbons           3.0
153     Table Tennis         Ramnaresh Sarwin           3.0
154     Table Tennis               Tim Boothe           4.0
155     Table Tennis               Tim Rownam          75.0
156     Table Tennis            Timothy Baker          24.0
157     Table Tennis              Tracy Smith          28.0
158   Tennis Court 1               Anne Baker           9.0
159   Tennis Court 1             Burton Tracy          46.5
160   Tennis Court 1             Charles Owen          25.5
161   Tennis Court 1            David Farrell           9.0
162   Tennis Court 1              David Jones          42.0
163   Tennis Court 1             David Pinker          25.5
164   Tennis Court 1            Douglas Jones          13.5
165   Tennis Court 1            Erica Crumpet           1.5
166   Tennis Court 1           Florence Bader           1.5
167   Tennis Court 1           Gerald Butters          85.5
168   Tennis Court 1               Jack Smith          37.5
169   Tennis Court 1          Janice Joplette          28.5
170   Tennis Court 1           Jemima Farrell           1.5
171   Tennis Court 1              Joan Coplin          10.5
172   Tennis Court 1                John Hunt           6.0
173   Tennis Court 1          Matthew Genting           1.5
174   Tennis Court 1               Nancy Dare          40.5
175   Tennis Court 1          Ponder Stibbons           1.5
176   Tennis Court 1         Ramnaresh Sarwin           7.5
177   Tennis Court 1               Tim Boothe           6.0
178   Tennis Court 1               Tim Rownam           9.0
179   Tennis Court 1            Timothy Baker          22.5
180   Tennis Court 1              Tracy Smith          46.5
181   Tennis Court 2               Anne Baker          57.0
182   Tennis Court 2             Burton Tracy           4.5
183   Tennis Court 2             Charles Owen          70.5
184   Tennis Court 2             Darren Smith          28.5
185   Tennis Court 2            David Farrell           1.5
186   Tennis Court 2              David Jones          49.5
187   Tennis Court 2           Florence Bader          12.0
188   Tennis Court 2           Gerald Butters           4.5
189   Tennis Court 2         Henrietta Rumney           1.5
190   Tennis Court 2               Jack Smith           1.5
191   Tennis Court 2          Janice Joplette          12.0
192   Tennis Court 2           Jemima Farrell           1.5
193   Tennis Court 2                John Hunt           6.0
194   Tennis Court 2        Millicent Purview           1.5
195   Tennis Court 2               Nancy Dare          16.5
196   Tennis Court 2          Ponder Stibbons          48.0
197   Tennis Court 2         Ramnaresh Sarwin          18.0
198   Tennis Court 2               Tim Boothe          84.0
199   Tennis Court 2               Tim Rownam           9.0
200   Tennis Court 2            Timothy Baker          10.5
201   Tennis Court 2              Tracy Smith           3.0

Q13: Find the facilities usage by month, but not guests

In [5]:
query13 = ('SELECT f.name, strftime("%m", b.starttime) AS month, SUM(b.slots)/2.0 AS usage_time_h '
           'FROM Bookings AS b '
           'LEFT JOIN Facilities AS f '
                 'USING (facid) '
           'WHERE b.memid <> 0 ' 
           'GROUP BY name, month '
           'ORDER BY name, month;'
          )

curs.execute(query13) # Execute a sample query
rs13 = curs.fetchall() # Fetch all rows

df13 = pd.DataFrame(rs13) # Copy to a dataframe
df13.columns = [tuple[0] for tuple in curs.description] # Asign columns to dataframe
df13 # Show dataframe

               name month  usage_time_h
0   Badminton Court    07          82.5
1   Badminton Court    08         207.0
2   Badminton Court    09         253.5
3    Massage Room 1    07          83.0
4    Massage Room 1    08         158.0
5    Massage Room 1    09         201.0
6    Massage Room 2    07           4.0
7    Massage Room 2    08           9.0
8    Massage Room 2    09          14.0
9        Pool Table    07          55.0
10       Pool Table    08         151.5
11       Pool Table    09         221.5
12    Snooker Table    07          70.0
13    Snooker Table    08         158.0
14    Snooker Table    09         202.0
15     Squash Court    07          25.0
16     Squash Court    08          92.0
17     Squash Court    09          92.0
18     Table Tennis    07          49.0
19     Table Tennis    08         148.0
20     Table Tennis    09         200.0
21   Tennis Court 1    07         100.5
22   Tennis Court 1    08         169.5
23   Tennis Court 1    09         208.5
24   Tennis Court 2    07          61.5
25   Tennis Court 2    08         172.5
26   Tennis Court 2    09         207.0

In [6]:
con.close() # Close the connection